.circular-gallery{cursor:grab;width:100%;height:100%;overflow:hidden}.circular-gallery canvas{display:block;width:100%!important;height:100%!important}.circular-gallery::-webkit-scrollbar{display:none}
